.main-layout {
  display: grid;
  grid-template:
    't t' var(--topbar-h)
    's c' calc(100% - var(--topbar-h))
    / var(--navbar-w) calc(100% - var(--navbar-w));

  &.full {
    grid-template:
      't t t' var(--topbar-h)
      's r r' var(--toolbar-h)
      's c l' calc(70% - var(--topbar-h) - var(--toolbar-h))
      's c p' calc(30%)
      / var(--navbar-w) calc(75% - var(--navbar-w)) calc(25%);
  }

  @screen mobile {
    grid-template:
      't' var(--topbar-h)
      'c' calc(100% - var(--topbar-h) - var(--navbar-h))
      's' calc(var(--navbar-h))
      / 100%;
  }
}
