# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/bin/

# Ignore .idea
.idea

# Syncthing ignore file
.stignore

MagnetoLib.dll
vrconfig.yml
*.log
*.log.lck

BVH Recordings
Recordings

# Ignore eclipse stuff
.project
.classpath
.settings

# VSCode stuff
/.vscode/settings.json
