[submodule "slime-java-commons"]
	path = slime-java-commons
	url = https://github.com/Eirenliel/slime-java-commons.git
[submodule "slimevr_protocol"]
	path = slimevr_protocol
	url = https://github.com/Futurabeast/slimevr_protocol.git
[submodule "solarxr-protocol"]
	path = solarxr-protocol
	url = git@github.com:SlimeVR/SolarXR-Protocol.git
