# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# JS/TS dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Build artifacts
/build
/target

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log

# vite
/dist
/stats.html
vite.config.ts.timestamp*

# eslint
.eslintcache

# Sentry Config File
.env.sentry-build-plugin
