
.keybind-settings {
  display: grid;

  grid-template:
    'n v d ' auto
    'k k k ' auto
    'b . . ' auto
    / 1fr 1fr 80px;

  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  align-items: left;
  gap: 20px;
}
