@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.primary.2');
  font-variant-numeric: tabular-nums;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}