@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-variant-numeric: tabular-nums;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  user-select: none;
  overflow: hidden;
  border-radius: 15px;
}

html {
  overflow: hidden;
  border-radius: 15px;
}

#root {
  height: 100%;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background-color: theme('colors.purple-gray.900');
}

::-webkit-scrollbar-track {
  background: theme('colors.purple-gray.600');
  border-radius: 50px;
  border-radius: 50px;
  
}

::-webkit-scrollbar-thumb {
  background: theme('colors.purple-gray.400');
  border-radius: 50px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.purple-gray.300');
}